<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fig. 3</title>
    <!--<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>!-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header></header>
    <script type="module">
        // Basic Three.js scene setup
        import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/build/three.module.js';
        import * as OBIM from './static/js/main.js'
        import * as families from './static/js/families.js'
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);
        const env1=new OBIM.BuiltEnvironment("Environment1",renderer)
        env1.remove(env1.gh);
        // // Define the starting point and length of each arrow
        
        const arrowLength = 2;

        // Parameters
        for(let subdivisions=2;subdivisions<9;subdivisions+=2)
        {
        const radius = 1;       // Sphere radius
        const geometry = new THREE.IcosahedronGeometry(radius, subdivisions);
        const startPoint = new THREE.Vector3(-40+subdivisions*3, 5, 0);
        console.log("subdivisions:",subdivisions,"number of isovists:",geometry.vertices.length)
        geometry.vertices.forEach(vertex => {
            const direction = new THREE.Vector3(vertex.x, vertex.y, vertex.z);  // Position at vertex
            const arrow = new THREE.ArrowHelper(direction, startPoint, arrowLength, 0x000000);
            env1.add(arrow);
        });
        }
    </script>
</body>
</html>
