<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and Three.js</title>
    <!--<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>!-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <header></header>
    <script type="module">
        // Basic Three.js scene setup
        // import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r122/build/three.module.js';
        // import * as OBIM from './static/js/main.js'
        // import * as families from './static/js/families.js'
        import * as OBIMcreate from './static/js/OBIM_create.js'
        const response = await fetch('./static/buildings_by_envelope.json');
        const data = await response.json();
        const env1=OBIMcreate.create_buildings_from_json(data,"3D")
    </script>
</body>
</html>
